
<div class="side_frame">
    <form id="edit_poll" class="bootstrap-frm">

        <label>
            <span>Poll Question EDIT:</span>
            <input id="question" name="question" type="text" value="{{ question }}" required>
            <input type="hidden" name="qid" value="{{ qid }}">
        </label>
        <br>
        <label>
            <span>Poll answers:</span>
            <a href="#" id="add">Add answer</a>
            <a href="#" id="del">Remove answer</a>
            <br>
            <div class="input_fields_wrap">
                {% for answer in answers %}
                {% if loop.first %}
                <div><input type="text" name="answer[{{ answer.id }}]" value="{{ answer.answer }}" required><a href="index.php?do=del_answer&id={{ answer.id }}&question={{ qid }}" onclick="return confirm('Are you sure , want to delete this answer?');">X</a></div>
                {% else %}
                <div><input type="text" style="margin-left: 166px;" name="answer[{{ answer.id }}]" value="{{ answer.answer }}" required><a href="index.php?do=del_answer&id={{ answer.id }}&question={{ qid }}" onclick="return confirm('Are you sure , want to delete this answer?');">X</a></div>
                {% endif %}
                {% endfor %}
            </div>

        </label>
        <label>
            <span>&nbsp;</span>
            <input type="submit" class="button" value="Modify" />
        </label>
        <div id="results"></div>
        <div><iframe src="index.php?do=asnwers_show&qid={{ qid }}&is_pie=true" width="700" height="80" style="width: 560px;height: 370px; margin: 0px auto 0px 150px;border: 0;overflow: hidden;" scrolling="no"></iframe></div>
    </form>
    
    <div class="clear"></div>
</div>
