<div class="show_poll">
    <div class="inner" id="inner1">ID</div>
    <div class="inner" id="inner2">Question</div>
    <div class="inner" id="inner3">Edit</div>
    <div class="inner" id="inner4">Stats</div>
    <div class="inner" id="inner5">Delete</div>
    {% for res in resultsp %}
    <div class="inner" id="inner1">{{ res.id }}</div>
    <div class="inner" id="inner2">{{ res.question }}</div>
    <div class="inner" id="inner3"><a href="index.php?do=edit&id={{ res.id }}">Edit</a></div>
    <div class="inner stat" id="inner4" data-popcorn="{{ loop.index }}">Stats</div>
    <div class="inner" id="inner5"><a href="index.php?do=delete&id={{ res.id }}" onclick="return confirm('Are you sure , want to delete ?');">Del</a></div>
    <div class="inner popcorn-{{ loop.index }}" id="inner6">
            <div class="graph" id="percent_info">Answers Percent %</div>
            <div class="graph"><iframe src="index.php?do=asnwers_show&qid={{ res.id }}" width="700" height="80" style="margin: 0 auto;overflow: hidden;border: 0;" scrolling="no"></iframe></div>
            <div class="clear"></div>
    </div>
    {% endfor %}
</div>

<div class="clear"></div>
